<div class="hw-alarm">
  <div class="hw-alarm-icon-container">
    <%= image_tag 'icon-close.svg' %>
  </div>
  <div class="hw-alarm-text-container">
    <h3 class="hw-alarm-header">Leider hat Ihre Suche keinen Treffer ergeben!</h3>
    <p class="hw-alarm-text">
      Aber keine Sorge wir helfen Ihnen trotzdem gerne! Wir suchen Ihnen einen Partner in Ihrer
      Gegend der Ihrer Anfrage entspricht und schicken Ihnen eine Email mit den Ergebnissen.
    </p>
  </div>
  <div class="hw-alarm-button-container">
    <button class="hw-alarm-button" onclick="KonButton()" >Anfrage erstellen</button>
  </div>
</div>