<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      Leistungen
    </div>
    <div class="panel-body">
      <%= f.collection_check_boxes :service_ids, @haus, :id, :name do |cb| %>
        <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
      <% end %>
    </div>
  </div>
</div>