<%= render 'shared/header' %>
<%= render 'shared/messages' %>
<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Leistungen</h3>
    </div>
    <div class="panel-body">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Haus und Wohnung</h3>
        </div>
        <div class="panel-body">
         <% form_for(@user, :html => {class: "form-horizontal", role: "form", method: :post }, url: edit_user_url(@user)) do |f| %> 
           <%= f.collection_check_boxes :service_ids, @home, :id, :name do |cb| %>
              <% cb.label(class: "check_container") {cb.check_box(id: "click" ) + cb.text + "<span class='checkmark'></span>".html_safe} %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>