<% if obj.errors.any? %>
  <div class="container-fluid">    
    <div class="row">
      <div class="col-md-12">
        <% obj.errors.full_messages.each do |msg| %>
          <div class="c-alert c-alert--info alert">
            <i class="c-alert__icon fa fa-times-circle"></i> <%= msg %>
            <button class="c-close" data-dismiss="alert" type="button">×</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>