<div class="Overlay" id="Overlay">
  <%= image_tag("close.png", :alt => "Close", :id => "Close", :onclick => "closeOverlay()") %>
  <div class="wasGroup" id="wasGroup">
  
  </div>
  <div class="wasEinzeln" id="wasEinzeln">
  
  </div>
</div>