        <div class="o-page__card">
            <div class="c-card u-mb-xsmall">
                <header class="c-card__header u-text-center u-pt-large">
                    <a class="c-card__icon" href="#!">
                        <%= image_tag 'logo.png', class: "c-avatar__img", alt: "Betriebsfoto" %>
                    </a>
                    <div class="row u-justify-center">
                        <div class="col-9">
                            <h1 class="u-h3">Passwort vergessen?</h1>
                            <p class="u-h6 u-text-mute">
                                Geben Sie Ihre Email-Adresse an und wir schicken Ihnen Ihr Passwort per Email zu!
                            </p>
                        </div>
                    </div>
                </header>
                
                <form class="c-card__body">
                    <div class="c-field u-mb-small">
                        <label class="c-field__label" for="input1">Email Addresse:</label>
                        <input class="c-input" type="email" id="input1" placeholder="info@musterbetrieb.de"> 
                    </div>

                    <button class="c-btn c-btn--info c-btn--fullwidth" type="submit">Passwort Instruktionen senden</button>
                </form>
            </div>

            <a class="u-text-mute u-text-small" href="/signup">
                Neuen Akkount erstellen
            </a>
        </div>