        <div class="o-page__card">
            <div class="c-card u-mb-xsmall">
                <header class="c-card__header u-text-center u-pt-large">
                    <a class="c-card__icon" href="#!">
                        <%= image_tag 'logo.png', class: "c-avatar__img", alt: "Betriebsfoto" %>
                    </a>
                    <div class="row u-justify-center">
                        <div class="col-9">
                            <h1 class="u-h3 u-mb-zero">Passwort zurücksetzen</h1>
                        </div>
                    </div>
                </header>
                
                <form class="c-card__body">
                    <div class="c-field u-mb-small">
                        <label class="c-field__label" for="input1">Neues Passwort</label>
                        <input class="c-input" type="password" id="input1" placeholder="Neues Passwort"> 
                    </div>

                    <div class="c-field u-mb-small">
                        <label class="c-field__label" for="input2">Altes Passwort</label>
                        <input class="c-input" type="password" id="input2" placeholder="Altes Passwort"> 
                    </div>

                    <button class="c-btn c-btn--info c-btn--fullwidth" type="submit">Passwort zurücksetzen</button>
                </form>
            </div>

            <a class="u-text-mute u-text-small" href="/signup">
                Neuen Akkount erstellen
            </a>
        </div>