  @import "bootstrap-sprockets";
  @import "bootstrap";

body { 
  padding-top: 70px; 
}

.parnel {
  height: 100%;
}

.logo {
  height: 20px;
  
}
.clickable-row {
  cursor: pointer;
}

td.center {
  text-align: center;
}