  @import "bootstrap-sprockets";
  @import "bootstrap";

.bodyDash { 
  padding-top: 70px; 
}

.bodyGarten {
  height: 100vh;
  overflow: hidden;
  background-image: url('background-garten-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.parnel {
  height: 100%;
}

.logoDash {
  height: 20px;
  
}
.clickable-row {
  cursor: pointer;
}

td.center {
  text-align: center;
}
input[type="checkbox"] {
  margin: 0px 0px 0px 0px;
}

.checkbox {
  padding-top: 1px;
}

#click input[type="checkbox"] {
  margin: 0px 0px 0px -44px;
  
}

#show {
  display: none;
}